$revel-night: #373B40;
$revel-blue: #00A3E0;

$breakpoints: (
  xxxl: (min-width: 2000px),
  mxxxl: (min-width: 1600px),
  xxl: (max-width: 1300px),
  xl: (min-width: 1100px),
  l: (max-width: 1099px),
  m: (max-width: 880px),
  s: (max-width: 700px),
  xs: (max-width: 420px),
  xxs: (min-width: 320px),
);
@mixin bp($name) {
  $value: map-get($breakpoints, $name);
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }
  @else {
    @warn "The '#{$name}' breakpoint is not defined. "
        + "Please make sure it is defined in the global.scss '$breakpoint' map.";
  }
}

@mixin device(){
	@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px) {
		@content;
	}
}
#general-popup-form {
    display: none;
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 16000004;
    @include device(){
    	height: 100%;
	    left: 0;
	    position: fixed;
	    top: 0;
	    width: 100%;
	    right: initial;
	    bottom: initial;
	    .general-popup-form {
	    	top: 50%;
	    	-ms-transform: translate(0,-50%);
	   		transform: translate(0,-50%);
		    color: #373B40;
		    /*font-size: 16px;
		    position: relative;
		    margin: 20px auto;*/
		    /* max-width: 750px; */
		    max-height: 100%;
		    background-color: #fff;
		    position: absolute;
		    width: 100%;
		    overflow-y: auto;
	    }
    }
	.general-popup-form {
		position: fixed;
    	/*max-height: calc(100% - 100px);*/
    	top: 50%;    	
  		transform: translate(0%, -50%);
		color: $revel-night;
		font-size: 16px;
		position: relative;
		margin: 20px auto;
		max-width: 750px;
		max-height: 100%;
		background-color: white;

		@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
			padding: 0px;
			margin: 0px;
			font-size: 14px;
			legend {
				margin-left: 10px;
			}
		}
		label, input {
			display: block;
			width: 100%;
			background: none;
		}
		input {
			padding: 20px 21px 12px;
			border: none;
			border: solid thin $revel-night;
			border-radius: 2px;
			margin-bottom: 13px;
			margin-left: 10px;
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				margin-left: 0;
			}
		}
		label {
			cursor: pointer;
			user-select: none;
			-webkit-user-select: none;
			-webkit-touch-callout: none;
			margin-left: 20px;
			border-radius: 2px;
			text-align: left;
			margin-bottom: .5vh;
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				margin-left: 0;
				margin-bottom: 0;
			}
			@media only-screen and (max-height: 550px), only screen and (max-device-height: 550px), only screen and (max-device-height: 550px){
				padding: 10px;
				width: 100%;
				&.radio-images {
					border: thin solid $revel-night;
				}
				&.main-form-label {
					padding-bottom: 0px;
				}
				vertical-align: top;
			}
			.form-button-img {
				border-radius: 2px;
				margin-bottom: .5vh;
				border: thin solid white;
				margin-right: 10px;
				padding: 4%;
				@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
					padding: .25em;
					max-width: 110px;
					margin-bottom: 0;
				}
				@media only-screen and (max-height: 550px), only screen and (max-device-height: 550px), only screen and (max-device-height: 550px){
					display: none;
				}
				&:hover {
					border: thin solid $revel-blue;
				}
				& svg {
					fill: blue;
					width: 100%;
					height: 70px;
				}
			}

			&.radio-images {
				display: inline-block;
				width: 28%;
				max-width: 250px;
				vertical-align: top;
				text-align: center;
				@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
					display: flex;
					flex-flow: row;
					width: 100%;
					max-width: 480px;
					text-align: left;
					align-items: center;
					margin-bottom: .5em;
				}
				&:hover{
					color: $revel-blue;
				}
				.radio-btn-images {
					visibility: hidden;
				}

			}
			&.revel-icons {
				vertical-align: top;
				img {
					max-height: 140px;
				}
			}
		}
		.form-radios {
			display: inline-block;
			width: inherit;
			visibility: hidden;
			position: absolute;

			&:checked + label>i {
				box-shadow: inset 0 0 0 3px #fff;
	  			background: $revel-blue !important;
				border: 1px solid $revel-blue;
			}
			& + label {
				display: inline-block;
				width: inherit;
				vertical-align: top;
				margin: 20px 10px;
				min-width: 82px;
				@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
					display: flex;
				}
				&:hover {
					i {
						box-shadow: inset 0 0 0 3px #fff;
						background: gray;
					}
				}

				i {
					display: inline-block;
					vertical-align: bottom;
					margin-right: 20px;
					width:  30px;
					height: 30px;
					border-radius: 50%;
					transition: 0.2s;
					box-shadow: inset 0 0 0 14px #fff;
					border: 1px solid gray;
					background: gray;
				}
			}
		}
		.radio-btn-images {
			position: absolute;
			width: 28%;
			visibility: hidden;
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				width: 2px;
			}

		}
		p {
			margin: 0px;
			margin-bottom: 20px;
			letter-spacing: 1.4;
			text-align: left;
		}
		h2 {
			font-size: 22px;
	    margin-bottom: 5px;
	    font-weight: 600;
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				font-size: 20px;
				font-weight: 300;
				line-height: 1.2em;
			}
			&.form-title {
				font-size: 28px;
				color: $revel-blue;
				text-align: center;
				font-weight: 300;
				text-transform: uppercase;
				letter-spacing: 2.76;
				text-align: center;
				margin-bottom: 30px;
				@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
					font-size: 26px;
				}
				& + p {
					font-size: 1em;
				}
			}

		}
		fieldset, #Step2PathB, #hold-for-redirect {
			padding: 7vh 60px 30px;
			text-align: center;
			display: none;
			border: none;
			height: 100%;
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				padding: 60px 10px 10px;
				height: auto;
			}
			input[type=radio]:checked + label {
				color: $revel-blue;
				font-weight: 500;
				line-height: 1.2em;
				.form-button-img {
					border: thick solid $revel-blue;
				}
				&.btn-box {
					background-color: $revel-blue;
					color: white;
					@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
						padding: 8px;
					}
				}
				&:not(:checked) + label {
					.form-button-img {

					}

				}
			}

			input[type=radio] {

				& + .btn-box {
					padding: 10px;
					margin-bottom: 10px;
					width: 100%;
					border: thin solid $revel-night;
					vertical-align: top;
					&:hover {
						border: thin solid $revel-blue;
					}
				}
				&:checked + .btn-box {
					border: thin solid $revel-blue;
				}
			}

			h2 {
				margin-bottom: 20px;
				text-align: center;
				/*font-weight: 300;*/
				line-height: 1.25em;
			}
			.last-call {
				text-align: left;
				margin-bottom: 10px;
				p, select {
					display: inline-block;
					margin-bottom: 20px;
					margin-top: 20px;

				}
				select {
					float: right;
					background: lightgrey;
					color: $revel-night;
					padding: 5px 10px;
					font-size: 16px;
					line-height: 1;
					border: thin solid $revel-night;
					border-radius: 2px;
					height: 34px;
					margin-top: 13px;
					/*-webkit-appearance: none;*/
					/*margin-left: 10px;*/
				}
			}
			&.general-form {

				p {
					font-size: 1em;
					margin-left: 10px;
				}
				label {
					cursor: default;
					margin-bottom: 4px;
				}
				@include device(){
					input {
						margin-bottom: 0px;
					}
					.form-title {
						margin-bottom: 5px;
						font-size: 20px;
					}
					&.active {
						padding-left: 10px !important;
						padding-right: 10px !important;
					}
				}
			 }
			 legend {
			 	text-align: left;
			 	position: absolute;top: 0;
			 	margin-top: 6px;
			 	color: white;



			 }
		}
		#Step2PathB {
			display: none;
		}
		#hold-for-redirect {
			display: none;
			p {
				text-align: center;
			}
			img {
				max-width: 300px;
			}
		}

		.dark-transparency {

		}
		form {
			height: 100%;

		}
		.loadbar {
			position: absolute;
			overflow: hidden;
			top: 0;
			left: 0;
			height: 34px;
			width: 100%;
			background-color: #f5f5f5;

			.progressbar {
				background-color: $revel-blue;
				width: 20%;
				height: 100%;
				position: absolute;
				top: 0;
				left:0;
			}
			.progress {
				position: absolute;
				top: 0;
				right: 0;
				margin: 7px 17px;
			}
		}
		.form-controls {
			position: relative;
			width: 100%;
			height: 50px;
			text-align: center;
			/*padding: 10px 60px;*/
			@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
				display: flex;
				flex-flow: row wrap;
				justify-content: space-around;
				align-content: space-around;
				margin: 0px auto 10px;
				width: auto;
				max-width: 100%;
			}
			.btn-form-control {
				width: 110px;
				padding: 12px 20px;
				border-radius: 2px;
				border: solid 1px $revel-blue;
				margin-bottom: 10px;
				&:hover{
					background-color: $revel-blue;
					color: white;
					border: solid 1px $revel-night;
				}
				&#nextBtn {
					position: absolute;
					right: 0;
					margin-right: 50px;
					@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
						margin: 1em;
					}
				}
				&#prevBtn, &#close-iform {
					position: absolute;
					left: 0;
					margin-left: 70px;
					@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
						margin: 1em;

					}
				}
			}
			.btn-submit {
				width: 180px;
				padding: 12px 20px;
				position: absolute;
				right: 0;
				margin-right: 50px;
				border-radius: 2px;
				border: solid 1px $revel-blue;
				margin-bottom: 10px;
				&:hover{
					border: solid 1px $revel-night;
				}
				@media only-screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-height: 480px){
					
					margin: 1em;
					width: initial;
				}
				@media (max-width: 480px) {
					width: initial;	
				}
			}
		}
		p.indicator {
			font-size: .7em;
			text-align: center;
		}
		#regForm {
			position: relative;
			overflow: hidden;
			padding-bottom: 40px;
			fieldset {
				position: absolute;
				max-width: 750px;
				min-height: 400px;
				transform: translateX(760px);
				transition: all 1s;
				display: block;
				top:0px;
				opacity: 0;
				&.active {
					position: relative;
					transform: translateX(0px);
					opacity: 1;
					
				}
				&.passed {
					opacity: 0;
					transform: translateX(-760px);
				}
				@include device() {
					padding: 50px 10px 10px;
					.radio-images {
						/*width: 40%;*/
					}
					input {
						margin-left: 0px;
					}
				}
			}
			@include bp(xs) {
				padding-bottom: 10px;
			}
		}
	}
	.dark-transparency {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.cancel-or-close-form {
		position: absolute;
		right: 20px;
		top: 50px;
		z-index: 3;
		.close {
			
		    &:hover {
		    	color: $revel-blue;
		    	cursor: pointer;
		    }
		}
	}
	.error {
		color: red;
		font-weight: 700;
	}
}
.hero--thank-you-iform {
	p {
		color: white;
	}
	.button {
		background-color: $revel-blue;
		border-color: $revel-blue;
		&:hover {
			
			background-color: white;
		}

	}
}